wildfly-18.0.1.Final/standalone/data/wsdl/coopjam.war/ServicioSOAPService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios.coopjam.ups.edu.ec/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicioSOAPService" targetNamespace="http://servicios.coopjam.ups.edu.ec/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.coopjam.ups.edu.ec/" elementFormDefault="unqualified" targetNamespace="http://servicios.coopjam.ups.edu.ec/" version="1.0">

  <xs:element name="transaccionservicio" type="tns:transaccionservicio"/>

  <xs:element name="transaccionservicioResponse" type="tns:transaccionservicioResponse"/>

  <xs:complexType name="transaccionservicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:double"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transaccionservicioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="transaccionservicio">
    <wsdl:part element="tns:transaccionservicio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="transaccionservicioResponse">
    <wsdl:part element="tns:transaccionservicioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioSOAP">
    <wsdl:operation name="transaccionservicio">
      <wsdl:input message="tns:transaccionservicio" name="transaccionservicio">
    </wsdl:input>
      <wsdl:output message="tns:transaccionservicioResponse" name="transaccionservicioResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioSOAPServiceSoapBinding" type="tns:ServicioSOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="transaccionservicio">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="transaccionservicio">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="transaccionservicioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioSOAPService">
    <wsdl:port binding="tns:ServicioSOAPServiceSoapBinding" name="ServicioSOAPPort">
      <soap:address location="http://localhost:8080/coopjam/ServicioSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>